<!doctype html>
<html>
	<head>
	</head>
	<h1>Журнал школы Хогварц</h1>
	<body>
		<form action="/gradebook" method="POST">
			<input type="text" name="student" placeholder="Введите фамилию студента">
			<input type="submit" value="Найти">
		</form>
	</body>
</html>